<!DOCTYPE html>
<html>
  <head>
    <title>Twitter Sentiment Analysis</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </head>
  <body>
  <div class="container">
  <form action="/monitor" method="get">

      <div class="row">
    <div class="col-md-2"> </div>
    <div class="col-md-8">
      <h1 style="font-size:40px;">
    " Welcome to the Twitter Sentiment Analysis "<br></h1>
    </div>
      <div class="col-md-2"></div>
      </div><hr>
      <div class="col-md-5" style="font-size: 22px">
    Enter the word you want to monitor?
      </div>
    <div class="col-md-4">
      <input class="form-control" type="text" name = "text">
    </div>
      <div class="col-md-3">
      <input class="btn btn-default" type="submit" value = "submit">
      </div>

    </form>
  </div>
  </body>
</html>


